#about {
    padding-top: 8rem;
}

#porto {
    padding-top: 20rem;
    padding-bottom: 24rem;
}



.carousel {
    width: 640px;
    height: 360px;
}

.navbar-costum {
    background-color: #9ED5fA;
}